body{
    background-color:#ffffff;
    font-family: sans-serif;
}
.navigation{
     height: 80px;
    width: auto;
    
    display: flex;
    gap:25%;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.title{
     height: 80px;
    width: auto;
   align-items: center;
    background:#B2FFFF;
    padding-top: 4px;
}
.container{
display:flexbox;
gap: 100px;
padding:10px;
margin:auto;
margin-bottom: 5rem;

}
.card{
    display:inline-block;
     padding: 8px 14px;
    word-wrap: wrap ;
    height: auto;
    width: 600px;
    background-color: antiquewhite;
    border-radius: 1rem;
    margin-bottom: 50px;
    margin-right: 40px;
}
.best{
    font-weight: bold;
    color:#333;

}
.card a{
            text-decoration: none;
            color: white;
            background: #0077ff;
            padding: 8px 14px;
            border-radius: 6px;
            display: inline-block;
            margin: 10px 0;
        }

footer{
    height: 50px;
    width: auto;
    background:#B2FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}     
a{
            text-decoration: none;
            color: white;
            background: #0077ff;
            padding: 8px 14px;
            border-radius: 6px;
            display: inline-block;
            margin: 10px 0;
        }

